<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi API REST</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="container">
    <div class="card">
        <h1>MI API REST</h1>
        <p>Seleccione una opción</p>
        <div class="button-group">
            <a href="http://localhost:8080/viewemployees" class="button">Ver Empleados</a>
            <a href="http://localhost:8080/viewdepartments" class="button">Ver Departamentos</a>
            <a href="http://localhost:8080/altaempleados" class="button">Alta Empleados</a>
            <a href="http://localhost:8080/altapartamentos" class="button">Alta Departamentos</a>
        </div>
    </div>
</div>
</body>
</html>
