<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi API REST</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="container">
    <div class="card">
        <h1>MY API REST</h1>
        <p>Choose one option</p>
        <div class="button-group">
            <a href="http://localhost:8080/viewemployees" class="button">View Employees</a>
            <a href="http://localhost:8080/viewdepartments" class="button">View Departments</a>
            <a href="http://localhost:8080/addemployee" class="button">Add Employees</a>
            <a href="http://localhost:8080/adddepartment" class="button">Add Departments</a>
        </div>
    </div>
</div>
</body>
</html>
