<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API REST</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <h1>MI API REST</h1>
    <h2>Seleccione una opción</h2>
    <p>
        <a href="verempleados.html">Ver Empleados</a>
        <a href="verdepartamentos.html">Ver Departamentos</a>
    </p>
    <p>
        <a href="#alta-empleados">Alta Empleados</a>
        <a href="#alta-departamentos">Alta Departamentos</a>
    </p>
    </body>
</html>
