<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employees</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Job</th>
        <th>Department</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="employee:${employees}">
        <td th:text="${employee.empno}"></td>
        <td th:text="${employee.ename}"></td>
        <td th:text="${employee.job}"></td>
        <td th:text="${employee.deptno}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
