.main-container {
    -fx-background-color: #f4f4f9; /* Fondo suave */
    -fx-padding: 20px;
    -fx-spacing: 15px;
    -fx-alignment: center;
    -fx-border-color: #d0d0d5; /* Borde alrededor */
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.title-label {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #333; /* Color del texto */
}

.text-field-custom, .password-field-custom {
    -fx-pref-width: 250px;
    -fx-pref-height: 30px;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-border-color: #d0d0d5;
    -fx-padding: 5px;
}

.text-field-custom {
    -fx-prompt-text-fill: #888; /* Color del texto de ayuda */
}

.password-field-custom {
    -fx-prompt-text-fill: #888;
}

.login-button {
    -fx-pref-width: 100px;
    -fx-pref-height: 35px;
    -fx-background-color: #4CAF50; /* Color del botón */
    -fx-text-fill: white;
    -fx-background-radius: 20;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}
