<configuration>

    <!-- Definir un appender para Hibernate, con nivel de log INFO o superior -->
    <appender name="HIBERNATE" class="ch.qos.logback.core.FileAppender">
        <file>hibernate.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Appender para los logs generales de la aplicación -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Root logger para que registre todos los logs, con excepción de los de Hibernate -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <!-- Logger específico para Hibernate -->
    <logger name="org.hibernate" level="INFO">
        <appender-ref ref="HIBERNATE"/>
    </logger>

</configuration>
