<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Login</title>
</head>
<body>
<div class="container">
    <h1>Login</h1>
    <form th:action="@{/login}" method="post">
        <div class="form-item">
            <label for="username">CIF:</label>
            <input type="text" id="username" name="username" placeholder="Enter CIF" required />
        </div>

        <div class="form-item">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="Enter Password" required />
        </div>
        <p th:if="${param.error}" class="error-message">Incorrect username or password</p>

        <div class="checkbox-container">
            <input type="checkbox" id="rememberCheck" name="remember-me" />
            <label for="rememberCheck">Remember me</label>
        </div>

        <button type="submit">Login</button>
    </form>
</div>
</body>
</html>
