<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Login</title>
</head>
<body>
<div class="container">
    <h1>Login</h1>
    <div class="form-container">
        <input type="text" id="CIFField" placeholder="Introduce tu CIF" value="A12345678" />
        <input type="password" id="passwordField" placeholder="Contraseña" value="password1" />
        <div class="checkbox-container">
            <input type="checkbox" id="rememberCheck" />
            <label for="rememberCheck">Remember me</label>
        </div>
        <button>Login</button>
    </div>
</div>
</body>

</html>
