<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="viewsellerstyle.css">
    <title>Menu Panel</title>
</head>
<body>
<div class="menu-container">
    <!-- Sidebar -->
    <div class="sidebar">
        <div class="sidebar-item">
                <img src="img/menu.png" alt="Menu Icon" />
                <p>Menu</p>
            </a>
        </div>
        <div class="sidebar-item">
            <a href="http://localhost:8080/addproduct" class="sidebar-item">
                <img src="img/addproduct.png" alt="Add Product Icon" />
            </a>
            <p>Add Product</p>
        </div>
        <div class="sidebar-item">
            <a href="http://localhost:8080/addoffer" class="sidebar-item">
                <img src="img/offer.png" alt="Offer Icon" />
            </a>
            <p>Offer</p>
        </div>
        <div class="sidebar-item">
            <form th:action="@{/logout}" method="post" id="logoutForm">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            </form>
            <img src="img/exit.png" alt="Exit Icon" onclick="document.getElementById('logoutForm').submit();" style="cursor: pointer;" />
            <p>Exit</p>
        </div>
    </div>
    <div class="main-content">
        <h1>Seller Data</h1>
        <form action="#" th:action="@{/viewseller}" th:object="${seller}" method="post">
            <div class="form-grid">
                <div class="form-item">
                    <label for="cifField">CIF:</label>
                    <input type="text" id="cifField" name="cif" th:value="${seller.cif}" readonly />
                </div>

                <div class="form-item">
                    <label for="nameField">Name:</label>
                    <input type="text" id="nameField" name="name" th:value="${seller.name}" />
                    <span th:errors="*{name}" class="error-message"></span>
                </div>

                <div class="form-item">
                    <label for="businessNameField">Business name:</label>
                    <input type="text" id="businessNameField" name="businessName" th:value="${seller.businessName}" />
                </div>

                <div class="form-item">
                    <label for="phoneField">Phone:</label>
                    <input type="text" id="phoneField" th:field="*{phone}" class="form-control" />
                    <span th:errors="*{phone}" class="error-message"></span>
                </div>

                <div class="form-item">
                    <label for="emailField">Email:</label>
                    <input type="text" id="emailField" th:field="*{email}" class="form-control" />
                    <span th:errors="*{email}" class="error-message"></span>
                </div>
                <div class="form-item">
                    <label for="URLField">URL:</label>
                    <input type="text" id="URLField" name="url" th:value="${seller.url}" />
                    <span th:errors="*{url}" class="error-message"></span>
                </div>
                <div class="form-item">
                    <label for="newPassword">New Password:</label>
                    <input type="password" id="newPassword" name="newPassword"/>
                </div>
                <div class="form-item">
                    <label for="repeatNewPassword">Repeat New Password:</label>
                    <input type="password" id="repeatNewPassword" name="repeatNewPassword"/>
                    <span th:if="${#fields.hasErrors('passwordsMatch')}" th:errors="*{passwordsMatch}" class="error-message"></span>
                </div>
            </div>
            <button type="submit">Update</button>
        </form>
    </div>
</div>
</body>
</html>
