<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="viewsellerstyle.css">
    <title>Menu Panel</title>
</head>
<body>
<div class="menu-container">
    <!-- Sidebar -->
    <div class="sidebar">
        <div class="sidebar-item">
            <img src="img/menu.png" alt="Menu Icon" />
            <p>Menu</p>
        </div>
        <div class="sidebar-item" onclick="goToAddProductMenu()">
            <img src="img/addproduct.png" alt="Add Product Icon" />
            <p>Add Product</p>
        </div>
        <div class="sidebar-item" onclick="goToAddOfferMenu()">
            <img src="img/offer.png" alt="Offer Icon" />
            <p>Offer</p>
        </div>
        <div class="sidebar-item" onclick="goToLogin()">
            <img src="img/exit.png" alt="Exit Icon" />
            <p>Exit</p>
        </div>
    </div>
    <div class="main-content">
        <h1>Seller Data</h1>
        <form action="#" th:action="@{/viewseller}" th:object="${seller}" method="post">
            <div class="form-grid">
                <div class="form-item">
                    <label for="cifField">CIF:</label>
                    <input type="text" id="cifField" name="cif" th:value="${seller.cif}" readonly />
                </div>

                <div class="form-item">
                    <label for="nameField">Name:</label>
                    <input type="text" id="nameField" name="name" th:value="${seller.name}" />
                </div>

                <div class="form-item">
                    <label for="businessNameField">Business name:</label>
                    <input type="text" id="businessNameField" name="businessName" th:value="${seller.businessName}" />
                </div>

                <div class="form-item">
                    <label for="phoneField">Phone:</label>
                    <input type="text" id="phoneField" name="phone" th:value="${seller.phone}" />
                </div>

                <div class="form-item">
                    <label for="emailField">Email:</label>
                    <input type="text" id="emailField" name="email" th:value="${seller.email}" />
                </div>

                <div class="form-item">
                    <label for="URLField">URL:</label>
                    <input type="text" id="URLField" name="url" th:value="${seller.url}" />
                </div>
            </div>
            <button type="submit">Update</button>
        </form>
    </div>
</div>
</body>
<script>
    function goToAddProductMenu() {
        alert("Navigating to Add Product Menu...");
    }

    function goToAddOfferMenu() {
        alert("Navigating to Add Offer Menu...");
    }

    function goToLogin() {
        alert("Navigating to Login...");
    }

</script>
</html>
